/*css for the chessboard and such*/
body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

h1 {
    margin-bottom: 20px;
    font-size: 2em;
    text-align: center;
}
/*this controls the chessboard styles */
#chessboard {
    display: grid;
    grid-template-columns: repeat(8, 50px);
    grid-template-rows: repeat(8, 50px);
    border: 4px solid black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.cell {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.green {
    background-color: rgb(70, 232, 20);
}

.blue {
    background-color: rgb(8, 70, 176);
}
